@media (max-width: 1150px) {
  .cards {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    width: 33.3%;
  }
}
@media (max-width: 999px) {
  .cards {
    justify-content: space-around;
    flex-wrap: wrap;
    gap: 30px;
  }
}
@media (max-width: 950px) {
  .Contacts_box {
    flex-direction: column;
    gap: 40px;
    text-align: center;
  }
  .Contacts_title {
    text-align: center;
  }
  .phone-num a {
    text-align: center;
  }
}

@media (max-width: 888px) {
  .about-us_box {
    flex-direction: column;
    gap: 40px;
  }
  .about-us h2 {
    margin: 40px 0;
  }
  .Catalog {
    margin-bottom: 40px;
  }
  .intro {
    margin-bottom: 40px;
  }
}

@media (max-width: 699px) {
  input {
    width: 150px;
  }

  .input_button {
    width: 60px;
    padding: 3px 3px;
  }
  .intro_title {
    font-size: 60px;
  }
  .intro_text{
    font-size: 35px;
  }
  .cards {
    gap: 20px;
  }
  .card img {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .ul_links {
    display: none;
  }
    .footer{
    margin-top: 50px;
  }
  .about-us_box{
    margin-bottom: 50px;
  }
}

@media (max-width: 599px) {
  .cards {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 50%;
  }
  .card h3 {
    text-align: end;
  }
}
.phone-num {
  text-align: start;
}
.Contacts_text {
  width: 100%;
}
  .footer{
    margin-top: 40px;
  }
    .about-us_box{
    margin-bottom: 40px;
  }

@media (max-width: 499px) {
  .intro_title {
    font-size: 60px;
    margin-bottom: 10px;
  }
  .intro_text {
    font-size: 35px;
    margin-bottom: 15px;
  }
}
@media (max-width: 450px) {
  .intro_title {
    font-size: 55px;
    margin-bottom: 10px;
  }
  .intro_text {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .footer{
    margin-top: 30px;
  }
    .about-us_box{
    margin-bottom: 30px;
  }
}
@media (max-width: 369px) {

 .footer{
    margin-top: 25px;
  }
    .about-us_box{
    margin-bottom: 25px;
  }
  
}
