@media (max-width: 1150px) {
  .cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 10px;
  }
  .card {
    width: 33.3%;
  }
  .intro {
    height: 750px;
  }
  .intro_title {
    font-size: 70px;
  }
}
@media (max-width: 999px) {
  .cards {
    justify-content: center;
    flex-wrap: wrap;
    gap: 30px;
  }
  .intro {
    height: 570px;
  }
  .intro_title {
    font-size: 60px;
    margin-bottom: 0px;
  }
  .intro_text {
    font-size: 28px;
    margin-bottom: 15px;
  }
}
@media (max-width: 950px) {
  .Contacts_box {
    flex-direction: column;
    align-items: center;
    gap: 40px;
    text-align: center;
  }
  .Contacts_title {
    text-align: center;
  }
  .phone-num a {
    text-align: center;
  }
  .intro {
    height: 500px;
  }
}

@media (max-width: 888px) {
  .about-us_box {
    flex-direction: column;
    gap: 40px;
  }
  .about-us h2 {
    margin: 40px 0;
  }
  .Catalog {
    margin-bottom: 40px;
  }
  .intro {
    height: 470px;
    margin-bottom: 40px;
  }
  .intro_title {
    font-size: 50px;
    margin-bottom: 0px;
  }
  .about-us_box {
    align-items: center;
  }
  .cards {
    justify-content: center;
  }
  .footer {
    margin-top: 60px;
  }
  .Catalog h2 {
    margin-bottom: 35px;
  }
  .Contacts h2 {
    margin-bottom: 35px;
  }
  .about-us_box {
    margin-bottom: 35px;
  }
}

@media (max-width: 699px) {
  input {
    width: 150px;
  }

  .input_button {
    width: 60px;
    padding: 3px 3px;
  }
  .intro_title {
    font-size: 60px;
    line-height: 100%;
  }
  .intro_text {
    font-size: 35px;
  }
  .cards {
    justify-content: center;
    gap: 20px;
  }
  .card img {
    width: 100%;
  }
  .menu {
    display: block;
  }
  .ul_links {
    display: none;
  }
  .footer {
    margin-top: 10px;
  }
  .about-us_box {
    margin-bottom: 30px;
  }
  .about-us_box {
    align-items: center;
  }
  .intro {
    height: 400px;
  }
  .intro_title {
    font-size: 40px;
    margin: 0px;
  }
  .intro_text {
    font-size: 25px;
    margin-bottom: 15px;
  }
  .menu {
    order: 0;
  }
  .logo {
    order: 1;
  }
  .input {
    order: 2;
  }
  .intro_button {
    width: 170px;
    height: 40px;
  }
  .about-us h2 {
    margin: 25px;
  }
  .intro {
    margin-bottom: 0px;
  }
  .Catalog h2 {
    margin-bottom: 25px;
  }
  .Contacts h2 {
    margin-bottom: 25px;
  }
}

@media (max-width: 599px) {
  .cards {
    justify-content: center;
    align-items: center;
  }
  .card {
    width: 100%;
  }
  .card img {
    width: 50%;
  }
  .card h3 {
    text-align: end;
  }
  .phone-num {
    text-align: start;
  }
  .Contacts_text {
    width: 100%;
  }
  .footer {
    margin-top: 40px;
  }
  .about-us_box {
    margin-bottom: 40px;
  }
  .intro {
    height: 350px;
  }
  .about-us_box img {
    width: 100%;
  }
  .intro_button {
    width: 155px;
    height: 40px;
  }
}

@media (max-width: 499px) {
  .intro_title {
    font-size: 40px;
    margin-bottom: 0px;
  }
  .intro_text {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .about-us_box img {
    width: 100%;
  }
}
@media (max-width: 450px) {
  .intro_title {
    font-size: 55px;
    margin-bottom: 10px;
  }
  .intro_text {
    font-size: 28px;
    margin-bottom: 15px;
  }
  .footer {
    margin-top: 30px;
  }
  .about-us_box {
    margin-bottom: 30px;
  }
  .intro {
    height: 300px;
  }
  .intro_title {
    font-size: 35px;
    margin: 0px;
  }
  .intro_text {
    font-size: 20px;
    margin-bottom: 15px;
  }
  .input_button {
    display: none;
  }
  input {
    border-top-right-radius: 50px;
    border-bottom-right-radius: 50px;
  }
  .about-us_box img {
    width: 100%;
  }
  .intro_button {
    width: 150px;
    height: 35px;
  }
}
@media (max-width: 369px) {
  .footer {
    margin-top: 25px;
  }
  .about-us_box {
    margin-bottom: 25px;
  }

  .intro {
    height: 200px;
  }
  .about-us_box img {
    width: 100%;
  }
  .intro_button {
    width: 130px;
    height: 30px;
  }
  .about-us h2 {
    font-size: 30px;
    margin: 10px;
  }
  .Catalog h2 {
    font-size: 30px;
    margin: 15px;
  }
  .Catalog {
    margin-bottom: 25px;
  }
  .Contacts h2 {
    font-size: 30px;
    margin: 15px;
  }
  .logo h2 {
    font-size: 27px;
  }
  .intro_text {
    margin-top: 10px;
    line-height: 100%;
  }
  .intro_button {
    font-size: 15px;
  }
  .card h3 {
    margin-top: 15px;
  }
  .footer {
    padding: 20px 10px;
  }
  .card_link h3 {
    font-size: 20px;
  }
  header {
    padding: 24px 0;
  }
  input {
    width: 140px;
    height: 30px;
  }
  .footer {
    padding: 20px 0;
  }
  .Contacts_box {
    gap: 15px;
  }
  .phone-num a {
    line-height: 30px;
  }
}
